{{- /* gotype: github.com/entkit/entkit.Generator */ -}}
{{- define "client.go" -}}

package main

import (
    "github.com/urfave/cli/v2"
    "{{$.Graph.Config.Package}}"
)

// This file will not be regenerated automatically.

func InitClient(ctx *cli.Context) (*ent.Client, error){
    client, err := ent.Open(
        ctx.String("DatabaseDriver"),
        ctx.String("DatabaseSourceName"),
    )
    if err != nil {
        return nil, err
    }
    if err := client.Schema.Create(
        context.Background(),
        //migrate.WithGlobalUniqueID(true),
    ); err != nil {
        return nil, err
    }
    return client, nil
}

func NewSchema(client *ent.Client) graphql.ExecutableSchema {
    // just return your `mypackage.NewSchema(client)`
	panic("not implemented NewSchema")
}

{{- end -}}