{{- /* gotype: entgo.io/ent/entc/gen.Graph */ -}}

{{- range $n:=$.Nodes }}
{{- range $e:=$n.Edges }}
{{- if not $e.Unique}}
func (su *{{$n.Name}}Update) Set{{$e.Unique}}(s ...*{{$e.Type.Name}}) *{{$n.Name}}Update {
    return su.Clear{{$e.Name}}().Add{{$e.Name}}(s...)
}
{{- end}}
{{- end}}
{{- end}}